

/* -----------------------------------------------------------------------------
   Variables
------------------------------------------------------------------------------*/

:root {
  
  /* -- colors -- */
  --tkf-color-light: #d9cec2;
  --tkf-color-contrast: #726d67;
  --tkf-color-accent: #bf906c;
  --tkf-color-tag: #2d3037;
  --tkf-color-icon: #726d67;
  
}



/* -----------------------------------------------------------------------------
   Styles
------------------------------------------------------------------------------*/

body {

  background-color: var(--tkf-color-contrast);  
  
}
